<div class="contact-info">
	<img class="profile-pic" src="{{ contact.photo }}" alt="contact picture">
	<div class="info-container">
		<p class="name">{{ contact.name }}</p>
		<p class="status">{{ contact.status }}</p>
	</div>
</div>

<div class="messages">
	<app-message message="Hey there!" [sent]="false"></app-message>
	<app-message message="How's going?" [sent]="false"></app-message>

	<app-message message="Sup!"></app-message>
	<app-message message="Everything alright, and you?"></app-message>
</div>